body {
  margin: 0;
  margin-top: 10%;
  font-family: "Roboto", sans-serif;
}
.main-container {
  margin-left: 10%;
  margin-right: 10%;
}
h1 {
  font-size: 40px;
  margin: 5px;
}
h4 {
  color: rgb(90, 0, 0);
}
.special-color {
  color: orange;
}
.flexibility {
  display: flex;
}
section {
  /* first section of the page */
  margin-bottom: 70px;
}
.half-section {
  /* it will take half of the full page width */
  width: 50%;
}
.half-section img {
  /* to make an image half of its container  */
  width: 50%;
}
.main-heading {
  /* there will be a left side border */
  border-left: 5px solid red;
}
.primary-button {
  /* primary button theme */
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  background-color: salmon;
}
.cards {
  /* cards decoration  */
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  max-width: 33.33%;
}
.cards img {
  width: 100px;
  height: 100px;
}
.bg-lightblue {
  background-color: lightblue;
}
.bg-lightgreen {
  background-color: lightgreen;
}
.bg-lightcoral {
  background-color: lightcoral;
}

.centered {
  text-align: center;
}
footer {
  background-color: black;
  padding: 20px;
}
.white-text {
  color: white;
}
